<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    {% block content %}
    <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            Welcome {{request.user.username}}!!
            <br>
            Have a great day😊!!
            <footer>
                <a href="{% url 'logout' %}" class="login100-form-btn">Logout</a>
            </footer>
        </div>

    </div>
    </div>


   
    {% endblock %}
    
</body>
</html>